# ==========================================
# CONFIGURACIÓN DEL SERVIDOR WEB 🚀
# ==========================================
# Cambiamos a 8080 para coincidir con tu archivo main.ts
PORT=8080
NODE_ENV=development

# ==========================================
# BASE DE DATOS (PostgreSQL - LOCAL PARA PRUEBAS) 🐘
# ==========================================
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=monitoreo
DB_USER=postgres
DB_PASSWORD=1234
DB_SSL=false

# ==========================================
# CONFIGURACIÓN MQTT (Mosquitto - LOCAL) 📡
# ==========================================
ENABLE_MQTT=false
MOSQUITTO_HOST=127.0.0.1
MOSQUITTO_PORT=1883

# ==========================================
# CONFIGURACIÓN SOLAR (API OFICIAL VCOM) ☀️
# ==========================================
VCOM_SYSTEM_ID=CPFRF
VCOM_API_KEY=BLUtp9fZVn

# ==========================================
# ALERTAS Y NOTIFICACIONES (WhatsApp API) 💬
# ==========================================
WHATSAPP_ACCESS_TOKEN=EAAfmvbG3dgkBSN0LjF6nwtgN9G4bmcl0bfGyJjldJxOB5CdTOnbOpdFZACsn1TOmZCiWZCuwoJQnq2Ms10f6LejpnuWZB7y9xfJMIXfJZAY3QI94Vlz37eRqRS4iYTUCPP4erTjEqdavgp0wzf6JxZA981pc89y412ATClLUEEz77oe55QSFAgkpeNuyxEzKUJiKEZBRVOaZBFDrKwlskUTHhB2uMfnwZATouuxXQAvQaqJbp4dJKF7dpC9AdSX1ZCjmInS5KPFDfdmrkOpi2QbAir
WHATSAPP_VERIFY_TOKEN=puce_whatsapp_verificacion_2026
WHATSAPP_RECIPIENT_PHONE=593986972915
WHATSAPP_API_VERSION=v21.0
WHATSAPP_REPORT_ENABLED=false
WHATSAPP_ALERT_COOLDOWN_MINUTES=30

# ==========================================
# RANGOS PARA ALERTAS AUTOMÁTICAS 🚨
# ==========================================
ALERT_TEMPERATURE_MIN=20
ALERT_TEMPERATURE_MAX=26
ALERT_CO2_MAX=1000
ALERT_HUMIDITY_MIN=30
ALERT_HUMIDITY_MAX=70